body {
  margin: 0;
}

p {
  font-weight: 600;
}

span {
  font-weight: 600;
}

.first-nav-section {
  background-color: #fff100;
}
.first-nav-section div {
  width: 1200px;
  margin: auto;
  display: flex;
}
.first-nav-section div .logo-div {
  align-items: center;
  width: 70%;
}
.first-nav-section div .logo-div .logo-h1 {
  font-size: 2rem;
  margin: 2% 0 2% 3%;
}
.first-nav-section div .logo-div i {
  cursor: pointer;
}
.first-nav-section div .offers-div {
  display: flex;
  align-items: center;
}
.first-nav-section div .offers-div span {
  margin: 0 8px;
  font-weight: normal;
}
.first-nav-section div .offers-div .offers-link {
  margin-right: 8px;
  color: black;
  font-weight: 700;
}
.first-nav-section div .services-div {
  display: flex;
  justify-content: end;
}
.first-nav-section div .services-div .services-link {
  color: black;
  margin-left: 30px;
  text-decoration: none;
}
.first-nav-section div .services-div .services-link span {
  margin-left: 5px;
}

.second-nav-section {
  background-color: white;
}
.second-nav-section div {
  width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
}
.second-nav-section div input {
  border: 2px solid #ececec;
  font-size: large;
  width: 60%;
  border-radius: 25px;
  padding-left: 5%;
  margin: 15px 0;
}
.second-nav-section div i {
  position: absolute;
  top: 32px;
  left: 20px;
}
.second-nav-section div img {
  margin: 10px 0;
  width: 60px;
  height: 60px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-left: 20%;
}
.second-nav-section div .user-info-div {
  justify-content: end;
}
.second-nav-section div .user-info-div .user-info-link {
  color: black;
  margin-left: 30px;
  text-decoration: none;
}
.second-nav-section div .user-info-div .user-info-link .user-info-description {
  margin-left: 5px;
}
.second-nav-section div .user-info-div .user-info-link.cart-p {
  position: relative;
}
.second-nav-section div .user-info-div .user-info-link.cart-p span.cart-number {
  font-size: small;
  background-color: #fff100;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  position: absolute;
  bottom: 13px;
  left: 18px;
}

.third-nav-section {
  background-color: black;
}
.third-nav-section div {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding: 1% 0;
}
.third-nav-section div .third-section-p {
  color: white;
  text-decoration: none;
  height: 100%;
}
.third-nav-section div .third-section-p p {
  margin-bottom: 0;
}
.third-nav-section div .offers-p {
  color: red;
}

.fourth-nav-section div {
  width: 1200px;
  margin: 1.5% auto;
}
.fourth-nav-section div .fourth-section-p {
  color: black;
}

@media (max-width: 1270px) {
  .first-nav-section div {
    width: 800px;
  }
  .first-nav-section div .offers-div {
    display: none;
  }
  .second-nav-section div {
    width: 800px;
  }
  .third-nav-section div {
    width: 800px;
  }
  .fourth-nav-section div {
    width: 800px;
  }
}
.product-section {
  width: 1200px;
  margin: 5% auto;
}

@media (max-width: 1270px) {
  .product-section {
    width: 800px;
  }
}
.product-images-section {
  margin: auto;
}
.product-images-section .image-div {
  display: flex;
  justify-content: center;
}
.product-images-section .image-div img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 4%;
}
.product-images-section .swiper-slide {
  display: flex;
  justify-content: center;
}
.product-images-section .swiper-slide .swiper-img {
  width: 70%;
}

.product-info-section {
  margin: auto;
}
.product-info-section .clothes-information img {
  width: 12%;
  margin-bottom: 2%;
}
.product-info-section .clothes-information .description-p {
  width: 50%;
  margin-bottom: 1%;
}
.product-info-section .clothes-information .gender-p {
  color: gray;
  font-size: small;
}
.product-info-section .clothes-information .rate-div {
  margin-bottom: 3%;
}
.product-info-section .clothes-information .rate-div span {
  margin-right: 3%;
}
.product-info-section .clothes-information .rate-div .icon-span {
  color: orange;
}
.product-info-section .clothes-information .rate-div .rates-number {
  color: gray;
}
.product-info-section .clothes-information .cost-div span {
  margin-right: 3%;
}
.product-info-section .clothes-information .cost-div .discount-cost {
  color: #542e90;
  font-size: x-large;
  font-weight: bold;
}
.product-info-section .clothes-information .cost-div .discount-cost .LE {
  font-size: initial;
  font-weight: 500;
  margin-right: initial;
}
.product-info-section .clothes-information .cost-div .actual-cost {
  font-size: small;
  color: gray;
  text-decoration: line-through;
}
.product-info-section .clothes-information .cost-div .discount-percent {
  font-size: small;
  background-color: #fff100;
  padding: 0.3%;
}
.product-info-section .clothes-size .size-p {
  font-weight: bold;
}
.product-info-section .clothes-size .sizes-div {
  color: #542e90;
  display: flex;
}
.product-info-section .clothes-size .sizes-div span {
  font-size: small;
  margin-right: 3%;
  cursor: pointer;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #ececec;
  border-radius: 50%;
}
.product-info-section .clothes-size .sizes-div span:hover {
  background-color: #ececec;
}
.product-info-section .clothes-color .color-p {
  font-weight: bold;
}
.product-info-section .clothes-color .color-img {
  width: 70px;
  border: 1px solid #ececec;
  border-radius: 50%;
  margin-right: 3%;
  cursor: pointer;
}
.product-info-section .clothes-color .color-img:hover {
  border-color: #542e90;
}
.product-info-section .clothes-purchase .quantity-p {
  font-weight: bold;
}
.product-info-section .clothes-purchase .quantity-div {
  width: 200px;
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 5%;
}
.product-info-section .clothes-purchase .quantity-div button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: #fff100;
  font-weight: bold;
}
.product-info-section .clothes-purchase .quantity-div span {
  color: #542e90;
  font-weight: bold;
}
.product-info-section .clothes-purchase .purchase-div button {
  font-weight: 600;
  width: 30%;
  border: 0;
  border-radius: 25px;
  padding: 1.5% 0;
  margin-right: 3%;
}
.product-info-section .clothes-purchase .purchase-div .cart-button {
  color: white;
  background-color: #542e90;
}
.product-info-section .clothes-purchase .purchase-div .cart-button:hover {
  background-color: #6A42AB;
}
.product-info-section .clothes-purchase .purchase-div .purchase-button {
  background-color: #fff100;
}
.product-info-section .clothes-purchase .purchase-div .purchase-button:hover {
  background-color: #FFF53F;
}

@media (max-width: 1270px) {
  .product-info-section .clothes-purchase .purchase-div button {
    width: 40%;
  }
}
.card-section {
  border: 1px solid #ececec;
  border-radius: 10px;
  margin: 30px 0;
}
.card-section .image-div {
  display: flex;
  justify-content: center;
}
.card-section p {
  text-align: center;
}
.card-section .cost-div {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}
.card-section .cost-div span {
  color: #542e90;
  font-size: large;
  font-weight: bold;
}
.card-section .cost-div span .LE {
  font-size: initial;
  font-weight: initial;
}
.card-section .cost-div img {
  width: 15%;
}
.card-section .rate-div {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.card-section .rate-div .icon-span {
  color: orange;
  margin-right: 5%;
}

.similar-products-section {
  width: 1200px;
  margin: 0 auto 50px;
}
.similar-products-section h2 {
  color: #542e90;
}
.similar-products-section .similar-products-p {
  color: gray;
  font-size: large;
  font-weight: initial;
}
.similar-products-section .similar-products-slide {
  display: flex;
  justify-content: center;
}

@media (max-width: 1270px) {
  .similar-products-section {
    width: 800px;
  }
}
main {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
  width: 450px;
  padding: 30px 30px;
  background-color: #ececec;
  box-shadow: 30px 30px 30px 30px #E9E8E8;
}
main .icon-div {
  display: flex;
  justify-content: end;
}
main .icon-div i {
  cursor: pointer;
}
main .cart-section h1 {
  color: #542e90;
  text-align: center;
  margin-bottom: 40px;
}
main .cart-section .cart-summary-p {
  font-size: large;
  font-weight: bold;
}
main .cart-section .cart-info {
  border: 1px solid white;
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 20px;
}
main .cart-section .cart-info .image-div {
  display: flex;
  align-items: center;
}
main .cart-section .cart-info .image-div .cart-info-image {
  width: 100px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .cart-section .cart-info .cart-info-div .cart-info-description {
  margin-bottom: 8px;
}
main .cart-section .cart-info .cart-info-div .cart-info-quantity {
  font-size: small;
}
main .cart-section .cart-info .cart-info-div div {
  display: flex;
  justify-content: space-between;
}
main .cart-section .cart-info .cart-info-div div span {
  color: #542e90;
  font-size: large;
  font-weight: 700;
}
main .cart-section .cart-info .cart-info-div div span .LE {
  font-size: initial;
  font-weight: initial;
}
main .cart-section .cart-info .cart-info-div div button {
  font-size: small;
  font-weight: 600;
  background-color: #fff100;
  padding: 2px 15px;
  border: none;
  border-radius: 25px;
}
main .cart-section .total-money {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
main .cart-section .buttons-div {
  display: flex;
  justify-content: space-between;
}
main .cart-section .buttons-div button {
  font-size: small;
  font-weight: 600;
  width: 180px;
  padding: 12px 15px;
  border: none;
  border-radius: 25px;
}
main .cart-section .buttons-div .review-button {
  background-color: #fff100;
}
main .cart-section .buttons-div .checkout-button {
  color: white;
  background-color: #542e90;
}
main .cart-section .no-items-p { /* The paragraph appears when cart is empty */
  text-align: center;
  margin-top: 40px;
}/*# sourceMappingURL=main.css.map */