body {
  margin: 0;
}

p {
  font-weight: 600;
}

span {
  font-weight: 600;
}

.first-nav-section {
  background-color: #fff100;
}
.first-nav-section div {
  width: 1200px;
  margin: auto;
  display: flex;
}
.first-nav-section div .logo-div {
  align-items: center;
  width: 70%;
}
.first-nav-section div .logo-div .logo-h1 {
  font-size: 2rem;
  margin: 2% 0 2% 3%;
}
.first-nav-section div .logo-div i {
  cursor: pointer;
}
.first-nav-section div .offers-div {
  display: flex;
  align-items: center;
}
.first-nav-section div .offers-div span {
  margin: 0 8px;
  font-weight: normal;
}
.first-nav-section div .offers-div .offers-link {
  margin-right: 8px;
  color: black;
  font-weight: 700;
}
.first-nav-section div .services-div {
  display: flex;
  justify-content: end;
}
.first-nav-section div .services-div .services-link {
  color: black;
  margin-left: 30px;
  text-decoration: none;
}
.first-nav-section div .services-div .services-link span {
  margin-left: 5px;
}

.second-nav-section {
  background-color: white;
}
.second-nav-section div {
  width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
}
.second-nav-section div input {
  font-size: large;
  width: 60%;
  border-radius: 25px;
  padding-left: 5%;
  margin: 15px 0;
}
.second-nav-section div i {
  position: absolute;
  top: 32px;
  left: 20px;
}
.second-nav-section div img {
  margin: 10px 0;
  width: 60px;
  height: 60px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-left: 20%;
}
.second-nav-section div .user-info-div {
  justify-content: end;
}
.second-nav-section div .user-info-div .user-info-link {
  color: black;
  margin-left: 30px;
  text-decoration: none;
}
.second-nav-section div .user-info-div .user-info-link .user-info-description {
  margin-left: 5px;
}
.second-nav-section div .user-info-div .user-info-link.cart-p {
  position: relative;
}
.second-nav-section div .user-info-div .user-info-link.cart-p span.cart-number {
  background-color: #fff100;
  border-radius: 50%;
  padding: 1px;
  position: absolute;
  left: 20px;
}

.third-nav-section {
  background-color: black;
}
.third-nav-section div {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding: 1% 0;
}
.third-nav-section div .third-section-p {
  color: white;
  text-decoration: none;
  height: 100%;
}
.third-nav-section div .third-section-p p {
  margin-bottom: 0;
}
.third-nav-section div .offers-p {
  color: red;
}

.fourth-nav-section div {
  width: 1200px;
  margin: 1.5% auto;
}
.fourth-nav-section div .fourth-section-p {
  color: black;
}

.product-section {
  width: 1200px;
  margin: 5% auto;
}

.product-images-section {
  margin: auto;
}
.product-images-section .image-div {
  display: flex;
  justify-content: center;
}
.product-images-section .image-div img {
  width: 80%;
  margin-bottom: 4%;
}
.product-images-section .swiper-slide {
  display: flex;
  justify-content: center;
}
.product-images-section .swiper-slide .swiper-img {
  width: 70%;
}

.product-info-section {
  margin: auto;
}/*# sourceMappingURL=main.css.map */