// variables
@use "../variables" as *;


// First section in Navbar
.first-nav-section {
    background-color: $secondary;

    div {
        width: $base-width;
        margin: auto;
        display: flex;

        .logo-div {
            align-items: center;
            width: 70%;

            .logo-h1 {
                font-size: 2rem;
                margin: 2% 0 2% 3%;
            }

            i {
                cursor: pointer;
            }
        }

        .offers-div {

            span {
                margin: 0 8px;
                font-weight: normal;
            }

            .offers-link {
                margin-right: 8px;
                color: black;
                font-weight: 700;
            }
        }

        .services-div {
            display: flex;
            justify-content: end;

            .services-link {
                color: black;
                margin-left: 30px;
                text-decoration: none;

                span {
                    margin-left: 5px;
                }
            }
        }
    }

}


// Second section in Navbar
.second-nav-section {
    background-color: white;

    div {
        width: $base-width;
        margin: auto;
        display: flex;
        position: relative;

        input {
            font-size: large;
            width: 60%;
            border-radius: 25px;
            padding-left: 5%;
            margin: 15px 0;
        }

        i {
            position: absolute;
            top: 32px;
            left: 20px;
        }

        img {
            margin: 10px 0;
            width: 60px;
            height: 60px;
            object-fit: fill;
            margin-left: 20%;
        }

        .user-info-div {
            justify-content: end;

            .user-info-link {
                color: black;
                margin-left: 30px;
                text-decoration: none;

                .user-info-description {
                    margin-left: 5px;
                }
            }

            .user-info-link.cart-p {
                position: relative;

                span.cart-number {
                    background-color: $secondary;
                    border-radius: 50%;
                    padding: 1px;
                    position: absolute;
                    left: 20px;
                }
            }
        }
    }
}


// Third section in Navbar
.third-nav-section {
    background-color: black;

    div {
        display: flex;
        justify-content: space-between;
        width: $base-width;
        margin: auto;

        .third-section-p {
            color: white;
            text-decoration: none;
        }

        .offers-p {
            color: red;
        }
    }
}


// Fourth section in Navbar
.fourth-nav-section {

    div {
        width: $base-width;
        margin: 1.5% auto;

        .fourth-section-p {
            color: black;
        }
    }
}