// variables
@use "../variables" as *;

.product-images-section {
    margin: auto;

    .image-div {
        display: flex;
        justify-content: center;

        img {
            width: 80%;
            object-fit: contain;
            margin-bottom: 4%;
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;

        .swiper-img {
            width: 70%;
        }

    }
}


@media (max-width: 991px) {
    .product-images-section {
        width: 70%;
    }
}